{% extends 'main/index.html' %}


{% block main %}

<div class='w3-row'>

    <div class='w3-half'>

        <div style='margin-top:200px;padding:50px;background-image:linear-gradient(white,lightgreen,green );font-family:Raleway;' class="w3-container">
            <h5 style='font-size: 2.5rem;padding:20px;text-align: left;font-weight: normal;color:green'> <span
                    style='color:'> Chili </span> Tokenomics </h5>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white  w3-teal">
                <!-- <tr>
            <th> Property </th>
            <th> Value </th>
        </tr> -->
                <tr style='padding:20px'>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Total Supply </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 2M </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Token Sales </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 700K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Liquidity </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 300K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Airdrop </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 150K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Development </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'>100K</td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'>Marketing</td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 100k </td>
                </tr>

                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Partnership</td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 100K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'>Pools </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 500K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Team</td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 50k </td>
                </tr>
            </table><br>
            <!-- <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button> -->
        </div>

    </div>

    <div class='w3-half'>

        <div style='margin-top:200px;padding:50px;background-image:linear-gradient(white,lightgreen,green );font-family:Raleway;' class="w3-container " >
            <h5 style='font-size: 2.5rem;padding:20px;text-align: left;font-weight:normal;color:green'> <span
                    style='color:green'> Chili </span> Token Offerings </h5>
            <table class="w3-table w3-striped w3-bordered w3-border w3-hoverable w3-white  ">
                <!-- <tr>
            <th> Property </th>
            <th> Value </th>
        </tr> -->
                <tr style='padding:20px'>
                    <tr>
                        <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Token Name </td>
                        <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> Chili </td>
                    </tr>
                    <tr>
                        <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Token Ticker</td>
                        <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> CHILI </td>
                    </tr>
                    <tr>
                        <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Total Supply for Sale </td>
                        <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 700K </td>
                    </tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Private Sale </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 500K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Private Sale Price </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> - </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Presale  </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 300K </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Presale Price </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> - </td>
                </tr>
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Liquidity Pool (IDO) </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> 200K </td>
                </tr>
                
                <tr>
                    <td style='font-size:1.75rem;color:midnightblue;font-weight: normal;padding:20px'> Purchase Option </td>
                    <td style='font-size:1.75rem;color:green;font-weight:normal;padding:20px'> BNB </td>
                </tr>

                
            </table><br>
            <!-- <button class="w3-button w3-dark-grey">More Countries  <i class="fa fa-arrow-right"></i></button> -->
        </div>

    </div>

    </div>

</div>

{% endblock main %}